APP_NAME=Laravel
APP_ENV=local
APP_CUSTOMER_CONTACT_EMAIL="hello@example.com"
VITE_ENV="${APP_ENV}"
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
SANCTUM_STATEFUL_DOMAINS=

VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"

ENABLE_JSON_LOG=false
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_SLACK_WEBHOOK_URL=
POS_MISMATCHES_LOG_CHANNEL=
POS_MISMATCHES_SLACK_WEBHOOK_URL=
POS_APPLICATION_MISMATCHES_SLACK_WEBHOOK_URL=
JOB_FAILURE_SLACK_WEBHOOK_URL=
JOB_FAILURE_SLACK_CHANNEL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

OLD_DB_CONNECTION=mysql
OLD_DB_HOST=127.0.0.1
OLD_DB_PORT=3306
OLD_DB_DATABASE=laravel
OLD_DB_USERNAME=root
OLD_DB_PASSWORD=

TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=3306
TEST_DB_DATABASE=testing_database
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

QUEUE_NAME=local_default
HORIZON_PREFIX=local_horizon:
REDIS_QUEUE=local_default
REDIS_PREFIX=local_database_
REDIS_DB=0

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Add the configuration key and URL for each implementation in the array format for the mobile app to get the URL
# https://github.com/vlucas/phpdotenv#parsing-without-loading
# We must keep keys of all the sites in each of the sites .env file so that POS app can get the URL from the configuration key from any site
LIST_OF_WEB_APP_URLS_AND_KEYS="LOCALPOS06062022=http://localhost/api/pos\nDEVPOS06062022=http://localhost/api/pos"

DEV_SERVER_URL=http://localhost:3000
DEV_SERVER_KEY=
DEV_SERVER_CERT=

SENTRY_LARAVEL_DSN=null
VITE_SENTRY_LARAVEL_DSN="${SENTRY_LARAVEL_DSN}"

SMS_GATEWAY_URL=
SMS_GATEWAY_USERNAME=
SMS_GATEWAY_PASSWORD=
SMS_GATEWAY_SENDER_ID="INFO"

CELCOM_SMS_URL=
CELCOM_SMS_USERNAME=
CELCOM_SMS_PASSWORD=
CELCOM_SMS_SENDER_ID=INFO
CELCOM_SMS_ENABLED=false

DEBUGBAR_ENABLED=false

CAPTCHA_DISABLE=false

VALIDATE_MOBILE_NUMBER=true
UPDATE_UNIT_OF_MEASURE=true
MOBILE_NUMBER_REGEX='#^(601((1\d{8})|([02-46-9]{1}\d{7})))|(65[689]\d{7})|(673\d{7})|(66\d{9,10})|(63\d{10})|(62\d{10,12})|(44\d{10})$#'

TERMS_AND_CONDITION_PAGE_URL=
PDP_NOTICE_URL=

POS_ADMIN_URL=
POS_ADMIN_COMPANY_ID=
POS_ADMIN_CLIENT_ID=
POS_ADMIN_CLIENT_SECRET=

CURRENCY_SYMBOL="RM"
VITE_CURRENCY_SYMBOL="${CURRENCY_SYMBOL}"

HEALTH_CHECK_MAIL_FROM_ADDRESS="${MAIL_FROM_ADDRESS}"
HEALTH_CHECK_MAIL_FROM_NAME="${APP_NAME}"
HEALTH_CHECK_MAIL_TO_ADDRESS="your@example.com"

PREVENT_BACKEND_ACCESS=false

BCRYPT_ROUNDS=12

IOI_CITY_MALL_SALES_FILE_NOTIFICATION_NAME=
IOI_CITY_MALL_SALES_FILE_NOTIFICATION_EMAIL=
IOI_CITY_MALL_SFTP_IP_ADDRESS=
IOI_CITY_MALL_SFTP_PORT=
IOI_CITY_MALL_SFTP_USERNAME=
IOI_CITY_MALL_SFTP_PASSWORD=
IOI_CITY_MALL_SFTP_FILE_UPLOAD_PATH=

IOI_CITY_MALL_STORAGE_DISK=${FILESYSTEM_DISK}

IOI_CITY_MALL_FILE_GENERATION_LOG_CHANNEL=
IOI_CITY_MALL_FILE_UPLOAD_LOG_CHANNEL=

IOI_CITY_MALL_ENABLE_FILE_GENERATION=false
IOI_CITY_MALL_ENABLE_FILE_UPLOAD=false

# For OCI Object Storage
#MEDIA_DISK=public
#OCI_ACCESS_KEY_ID=
#OCI_SECRET_ACCESS_KEY=
#OCI_DEFAULT_REGION=
#OCI_BUCKET=
#NAMESPACE_OF_BUCKET=

PULSE_ENABLED=
PULSE_DB_HOST=
PULSE_DB_DATABASE=
PULSE_DB_USERNAME=
PULSE_DB_PASSWORD=

API_THRESHOLD_RATE_LIMIT_PER_MINUTE=60
WEB_THRESHOLD_RATE_LIMIT_PER_MINUTE=60

VITE_BARCODE_COUNT_THRESHOLD_FOR_ASYNC_PRINT="${BARCODE_COUNT_THRESHOLD_FOR_ASYNC_PRINT}"
BARCODE_COUNT_THRESHOLD_FOR_ASYNC_PRINT=1500

MAXIMUM_LAST_VISITED_PAGES=10
VITE_MAXIMUM_LAST_VISITED_PAGES="${MAXIMUM_LAST_VISITED_PAGES}"

FIREBASE_ENABLED=false

FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=

TRX_MALL_API_BASE_URI=
TRX_MALL_API_GRANT_TYPE=
TRX_MALL_API_USERNAME=
TRX_MALL_API_PASSWORD=
TRX_MALL_DATE_OF_FIRST_SALES_UPLOAD=
TRX_MALL_LOG_CHANNEL=
TRX_MALL_NOTIFICATION_MAIL_NAME=
TRX_MALL_NOTIFICATION_MAIL_EMAIL=

DEMAND_FORECASTING_DASHBOARD_VISIBILITY=false
LOYALTY_CAMPAIGN_CONFIGURATIONS_VISIBILITY=false
ALLOW_DIFFERENT_COLOR_IN_CHART=false

# Comma separated retail planning domains that are allowed SSO login
RETAIL_PLANNING_SSO_URLS_WHITELIST=
# The key must be the same in the retail planning so that signed URL validation works for SSO
URL_SIGNER_SIGNATURE_KEY=

RETAIL_PLANNING_INTEGRATION_ENABLED=false

EXPORT_EXCEL_LIMIT=15000
EXPORT_EXCEL_INITIAL_ROW_LIMIT=1000
EXPORT_EXCEL_DECREMENT_PERCENTAGE=80
EXPORT_EXCEL_INCREMENT_PERCENTAGE=10
EXPORT_EXCEL_JOB_COVERAGE_PERCENTAGE=80

ALLOW_POS_MODULES_ZIP=false

PRODUCT_VARIANT=false
ALLOW_SMART_TRANSFER=false
MAX_UPLOAD_SIZE=20480 # 20MB in kilobytes
HTTP_TIME_OUT=1500 # in Seconds

SITE_IDENTIFIER_KEY=

EXCHANGE_RATE_API_KEY=
EXCHANGE_RATE_API_URL=

SHARE_SALE_DETAILS_TO_THIRD_PARTY_ENABLED=false
SHARE_SALE_DETAILS_TO_THIRD_PARTY_TOKEN=
SHARE_SALE_DETAILS_TO_THIRD_PARTY_KEY=
SHARE_SALE_DETAILS_TO_THIRD_PARTY_URL=

AUTOMATION_ENABLED=false
AUTOMATION_URL=
AUTOMATION_TOKEN=

WARN_CONNECTION_COUNT=20
FAIL_CONNECTION_COUNT=30

SITE_ENV=

REDIS_MEMORY_USAGE_CHECK=
DATABASE_SIZE_CHECK=

GENUINE_OFFICIAL_ONLINE_STORE_LINK=

GEO_CODE_API_KEY=


AZENTIO_INTEGRATION_FETCH_DATA_FROM_DATE=

SFTP_IP_ADDRESS=
SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_PORT=
SFTP_PATH=

IMPORT_PRODUCT_RECORD_CREATE_WITH_CATEGORY=false
